body {
  margin: 0;
  padding: 0rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
#message{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
.ImageAndOutput{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: white 3px;
  border-style: solid;
}

/* yoga pose image */
.imageContainer{
  width: 50%;
  height: 50%;
}
.yogaImage{
  height: auto;
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
}

#imageOverlay{
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.webcam{
  position: relative;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.OutputParent{
  position: relative;
  width: 100%;
  height: 100%;
}

.OutputChildren{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
